<nav class="navbar navbar-expand-md custom-navbar">
  <button class="btn"><img src="{{ .Site.BaseURL }}img/menu.svg" width="24px" id="nav-button"></button>
   
  <a class="navbar-brand" href="{{ .Site.BaseURL }}">MO<span class="logo">OC</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


</nav>