
<!-- sidebar start -->
<aside class="sidebar" id="sidebar" class="collapse" >
<h2 class="d-none d-sm-block">Table of Contents</h2>
<nav class="sidebar-nav">
    {{ $currentPage := . }}
    <ul class="menu_nav">
    {{ range .Site.Menus.main }}
        <li> <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></li>
        <ul class="sub_menu_nav">
        {{range .Page.Pages}}
            <li ><a href="{{ .Permalink }}"> {{.Title}}</a></li>
             {{if eq $currentPage  .Page }}
                {{.TableOfContents}}
                {{end}}
        {{end}}
        </ul>

    {{ end }}
    </ul>
</nav>
</aside>