
<!-- sidebar start -->
<aside >
<h2>{{ .Site.Title}} </h2>
<nav>
    {{ $currentPage := . }}
    <ul>
        <li> <a href="{{ .Site.BaseURL }}" title="Home">Home</a></li>
        {{ range .Site.Menus.main }}
        <li> <a class="nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></li>
        <ul>
        {{range .Page.Pages}}
            <li ><a href="{{ .Permalink }}"> {{.Title}}</a></li>
             {{if eq $currentPage  .Page }}
                {{.TableOfContents}}
                {{end}}
        {{end}}
        </ul>


    {{ end }}
    </ul>
</nav>
</aside>