
body{
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: #fff;
    color: #1d1d1f;
    font-style: normal;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

body, input, textarea, select, button {
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    text-align: left;
    }

h1,h2, h3{
    color: black;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }

h1{
    font-size: 32px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 16px;
}

a{
    color: rgb(3, 102, 214);
    text-decoration: none;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.navbar .hidden{
    display: none;
}

.navbar { 
    background-color: white; 
    color: black;
    border-bottom: solid 1px rgb(223,223,224); 
    top: 0px;
    padding: 0px;
    padding-bottom: 0px;
    position: fixed;
    display: inline-block;
    width: 100%;
    height: 60px;
    z-index: 999;
}

.pointer-none {
    pointer-events: none;
  }

button {
    color: #212529;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: none;
}

.highlight-wrapper{
overflow-x: scroll;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar img {
    height: 26px;
}

.navbar li {
    float: left;
}
  
.navbar li a,.navbar li button {
    display: block;
    color: black;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
  }



.definition, .propriete, .exemple{
    font-style: normal;
    margin: 1rem 0;
    padding: .0rem 1rem .0rem .75rem;
    background-color: white;
    border-radius: .15rem;
    margin-top: 0px;
    margin-bottom: 30px;
}

.definition a, .propriete a, .exemple a{
    color: black;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.definition, .propriete{
    border-left: .25rem solid #6bf;
}

.exemple{
    border-left: .25rem solid rgb(223,223,224);

}

.align_left {
    float: left;
    }


.align_right {
    float: right;
    }

.footer-nav{
    padding-top: 80px;
    padding-bottom: 40px;
}

figure{
    text-align: center;
}


figcaption h4::before{
    content : "Figure. ";
    font-style: italic;
}

figcaption h4{
    font-size: 1rem;
    font-weight: normal;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}


pre, .copy-code-button{
    background-color: #272822;
}

pre{
    padding:10px;
}
.copy-code-button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    z-index: 999;
    float: right;
    text-align: right;
    font-size: 13px;
    width: 65px;
    padding-top:7px;
    margin-right:10px;
    color: rgba(255, 255, 255, 0.397);
    cursor: pointer;
  }
  
.copy-code-button:hover,
  .copy-code-button:focus,
  .copy-code-button:active,
  .copy-code-button:active:hover {
    color: white;
  }

.custom-table{
    text-align: center;
}

.custom-table table{
    width: 100%;
}

.custom-table  figcaption h4::before{
    content : "Table. ";
}

table thead > tr{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


[class*="col-"] {
    width: 100%;
    box-sizing: border-box;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
  }

#sidebar, #content{
    box-sizing: border-box;
    display: none;
    padding-top: 60px;
    padding-left:20px;
}

#sidebar{
    position: fixed;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.125rem !important;
}

#sidebar.active, #content.active{
    display: block;
}

#content{
    padding-left:20px;
    padding-right:20px;
}


#sidebar a{
    color: black;
}

#sidebar a:hover{
    text-transform: none;
}

aside nav > ul{
    line-height: 3rem;
    font-weight: bold;
    list-style: none;
    padding: 0px;
}

aside nav li:not(:last-child){
    padding: 0px;
    border-bottom: 1px solid  rgb(223,223,224);
}


aside nav > ul>li>ul,nav > ul>li>ul>nav>ul{
    font-weight: normal;
    list-style: none;
    padding: 0px;
    margin-left: 40px;
}

@media(min-width: 600px){

    #content{
        padding-left: 40px;
        padding-right:40px;
    } 

}

@media(min-width: 768px){

    #content{
        padding-left: 80px;
        padding-right:80px;
    } 

}

@media(min-width:1440px){

    h1{
        padding-top: 20px;
        padding-bottom: 40px;
    }

    #sidebar h2{
        padding-top:20px;
        font-size: 16px;
    }

    #btn-toc{
        display: none !important;
    }

    #btn-content{
        display: block !important;
    }

    #sidebar, #content{
        display: block;
    }

    #sidebar{
        padding-left: 40px;
        font-size: 90% !important;
        color: rgba(0,0,0,.65);
        width: 25%;
    }

    #content{
        width: 100%;
        padding-left: 25%;
        padding-right: 10%;
    }

    .col-6 {
        width: 50%;
        float: left;
    }

    .col-3 {
        width: 25%;
        float: left;
    }

    .col-9 {
        width: 75%;
        float: left;
    }


    aside nav > ul{
        margin-left: 20px;
    }

    aside nav > ul>li>ul, nav > ul>li>ul>nav>ul {
        margin-left:20px;
    }
    aside nav ul>li>ul>li{
        list-style: circle;
    }

    aside nav li:not(:last-child){
       
        padding: 0px;
        border-bottom: none;
    }

    aside nav li {
        line-height: 2rem;
        border: none;
    }
}

