
body{
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: #fff;
    color: #1d1d1f;
    font-style: normal;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

body, input, textarea, select, button {
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    text-align: left;
    }

h1,h2, h3{

    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
 }


h1 {
    font-size: 32px;
    }

h1{
    font-size: 32px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 16px;
}

a{
    color: rgb(3, 102, 214);
    text-decoration: none;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.navbar { 
    background-color: white; 
    color: black;
    border-bottom: solid 1px rgb(223,223,224); 
    top: 0px;
    padding: 0px;
    padding-bottom: 0px;
    position: fixed;
    display: inline-block;
    width: 100%;
    height: 60px;
    z-index: 999;
}

.navbar .btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: none;
    font-size: 1rem;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar img, ,.navbar button{
    height: 26px;
}

.navbar li {
    float: left;
  }
  
.navbar li a,.navbar li button {
    display: block;
    color: black;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
  }



.definition, .propriete, .exemple{
    font-style: normal;
    margin: 1rem 0;
    padding: .0rem 1rem .0rem .75rem;
    background-color: white;
    border-radius: .15rem;
    margin-top: 0px;
    margin-bottom: 30px;
}

.definition a, .propriete a, .exemple a{
    color: black;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.definition, .propriete{
    border-left: .25rem solid #6bf;
}

.exemple{
    border-left: .25rem solid rgb(223,223,224);

}

.align_left {
    float: left;
    }


.align_right {
    float: right;
    }

.content{
    padding-top: 18px;
    padding-right: 20px;
    padding-left: 20px;
}

.footer-nav{
    padding-top: 80px;
    padding-bottom: 40px;
}

figure{
    text-align: center;
}


figcaption h4::before{
    content : "Figure. ";
    font-style: italic;
}

figcaption h4{
    font-size: 1rem;
    font-weight: normal;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}


pre, .copy-code-button{
    background-color: #272822;
}

pre{
    padding:10px;
}
.copy-code-button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    z-index: 999;
    float: right;
    text-align: right;
    font-size: 13px;
    width: 65px;
    padding-top:7px;
    padding-right:20px;
    color: rgba(255, 255, 255, 0.397);
    cursor: pointer;
  }
  
.copy-code-button:hover,
  .copy-code-button:focus,
  .copy-code-button:active,
  .copy-code-button:active:hover {
    color: white;
  }

.custom-table{
    text-align: center;
}

.custom-table table{
    width: 100%;
}

.custom-table  figcaption h4::before{
    content : "Table. ";
}

table thead > tr{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}



.row::after {
    content: "";
    clear: both;
    display: table;
  }

[class*="col-"] {
    width: 100%;
    box-sizing: border-box;
  }


#btn-toc{
    display:none;
}

#btn-content{
    display:inline;
}

#btn-toc.toc {
    display: inline;
}

#btn-content.toc{
    display: none;
}

#col1{  
    position: fixed;
    top: 70px;   
    display : none;
    margin-right: auto;
    margin-left: auto;
    padding-left: 40px;
    font-size: 1.125rem !important;
    color: black !important;
}


#col2{
    box-sizing: border-box;
}

#col2 .content{
    margin-right: auto;
    margin-left: auto;
    padding-top: 80px;
}

.toc #col1{
    display: block;
}

.toc #col2{
    display: none;
}

.menu_nav , .menu_nav > li{
    list-style: none;
    padding: 0px;
}

.menu_nav li a{
    color: black;

}

.menu_nav li a:hover, .submenu_nav li a:hover{
    text-transform: none;

}

.menu_nav li, .sub_menu_nav li{
    line-height: 3rem;
    border-bottom: 1px solid  rgb(223,223,224);
}

.menu_nav > li{
    font-weight: bold;
}
.menu_nav li>ul{
    font-weight: normal;
}

.menu_nav li>ul>li
{
    padding-left: 40px;
}


@media(min-width: 600px){

    #col2{
        padding-left: 40px;
        padding-right:40px;
    } 

}

@media(min-width: 768px){

    #col2{
        padding-left: 60px;
        padding-right:60px;
    } 

}

@media(min-width:1440px){

    #col1, #col2, .toc #col1,.toc #col2{
        display: block;
    }

    #col2{
        margin-left: 25%;
        padding:0px;
        padding-right:10%;
    }

    .col-6 {
        width: 50%;
        float: left;
    }

    .col-3 {
        width: 25%;
        float: left;
    }

    .col-9 {
        width: 75%;
        float: left;
    }


    #btn-toc, #btn-toc.toc{
        display:none;
    }

    #btn-content,#btn-content.toc{
        display:inline;
    }

    .sidebar{
        padding-left: 20px;
        font-size: 90%;
        color: rgba(0,0,0,.65);
    }

    .sidebar h2{
        text-transform: uppercase;
        font-size: 1rem;
        font-size: 0.9rem;
        font-weight: bold;
        color: black;
    }

    .menu_nav li {
        line-height: 2rem;
        border: none;
    }
}

